.gradle
local.properties
project.properties
keystore.properties
uaccount.keystore
.DS_Store
*.iml
*.log
*.hprof
build/
captures/
.idea/
proguard-mappings/
dexguard-mappings/
dexguard-license.txt
dexguard.properties
twilight_imperium_tracker/android/app/google-services.json
